<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Fidel-Admin</h1>

		<p>Login or Register with:</p>

		<a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-male"></span> Signup</a>
	</div>

<!-- show any messages that come back with authentication -->
	<% if (locals.message) { %>
		<div class="alert alert-danger"><%=message%></div>
	<% } %>
</div>

</div>

</body>
</html>