<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="bootstrapValidator.min.css" />
	<script src="bootstrapValidator.min.js"></script>

	<script>
		$(document).ready(function() {
			$('#loginForm').bootstrapValidator({
				message: 'This value is not valid',
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: '',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
					username: {
						message: 'The username is not valid',
						validators: {
							notEmpty: {
								message: 'The username is required and cannot be empty'
							},
							/*stringLength: {
								min: 6,
								max: 30,
								message: 'The username must be more than 6 and less than 30 characters long'
							},*/
							regexp: {
								regexp: /^[a-zA-Z0-9_]+$/,
								message: 'The username can only consist of alphabetical, number and underscore'
							}
						}
					},
					password: {
						validators: {
							notEmpty: {
								message: 'The password is required and cannot be empty'
							}
						}
					}
				}
			});
		});
		
		$('[autofocus]:first').focus();
		
	</script>
    
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Login</h1>


	<!-- show any messages that come back with authentication -->
	<% if (locals.message && locals.message.length) { %>
		<div class="alert alert-danger"><%=message%></div>
	<% } %>

	<!-- show any success messages that come back with activation -->
	<% if (locals.messageSuccess) { %>
		<div class="alert alert-success"><%=messageSuccess%></div>
	<% } %>
	
	<!-- LOGIN FORM -->
	<form id="loginForm" action="/login" method="post" class="registerForm">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username" autofocus value="user1">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password" value="password">
		</div>

		<button type="submit" class="btn btn-success btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>
	


</div>

</div>
</body>
</html>
