<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Fidel-Admin</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="bootstrapValidator.min.css" />
	<script src="bootstrapValidator.min.js"></script>

	
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-envelope"></span> E-mail verification</h1>
	<small>Se ha enviado un link de verificaci&oacuten a la direcci&oacuten: <strong><%=email%></strong></small>
		
	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
