<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Fidel-Admin</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="bootstrapValidator.min.css" />
	<script src="bootstrapValidator.min.js"></script>

	<script>
		$(document).ready(function() {
			$('#registerForm').bootstrapValidator({
				message: 'This value is not valid',
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: '',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
					userName: {
						message: 'The username is not valid',
						validators: {
							notEmpty: {
								message: 'The username is required and cannot be empty'
							},
							stringLength: {
								min: 6,
								max: 30,
								message: 'The username must be more than 6 and less than 30 characters long'
							},
							regexp: {
								regexp: /^[a-zA-Z0-9_]+$/,
								message: 'The username can only consist of alphabetical, number and underscore'
							}
						}
					},
					password: {
						validators: {
							notEmpty: {
								message: 'The password is required and cannot be empty'
							}
						}
					},
					email: {
						validators: {
		                    notEmpty: {
		                        message: 'The email is required and cannot be empty'
		                    },
		                    emailAddress: {
		                        message: 'The input is not a valid email address'
		                    }
		                }
					},
					name: {
						validators: {
							notEmpty: {
								message: 'The Name is required and cannot be empty'
							}
						}
					},
					surname: {
						validators: {
							notEmpty: {
								message: 'The Surname is required and cannot be empty'
							}
						}
					}
				}
			});
		});
		
		$('[autofocus]:first').focus();
		
	</script>
	
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-male"></span> Signup</h1>

	<!-- show any messages that come back with authentication -->
	<% if (locals.message) { %>
		<div class="alert alert-danger"><%=message%></div>
	<% } %>
	
	<% if (locals.messageWarning) { %>
		<div class="alert alert-warning"><%=messageWarning%></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="POST" id="registerForm">
	
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="userName" autofocus>
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>


		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" name="nombre" required>
		</div>

		<div class="form-group">
			<label>Surname</label>
			<input type="text" class="form-control" name="apellido" required>
		</div>

		<div class="form-group">
			<label>Verification E-mail</label>
			<input type="email" class="form-control" name="email" required>
		</div>
		
		<div class="form-group">
			<%-recaptcha_form%>
		</div>
	
		<button type="submit" class="btn btn-primary btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
