

.input-append .add-on,.input-prepend .add-on {
	display: inline-block;
	width: auto;
	height: 30px;
	min-width: 16px;
	padding: 4px 5px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background-color: #eee;
	border: 1px solid #ccc
}